# -*- mode:conf; -*-

# auto saves, caches
*~
__pycache__
.coverage
.tox

# development artifacts
venv
.venv
.env

# configurations

# TODO Exclude later, for the time being this will be hardcoded into the image.
# qualitycheck_config.toml

# build artifacts
*.egg-info
build
/src/doc/_apidoc/
