# -*- mode:conf; -*-

# auto saves, caches
*~
__pycache__
.coverage
.tox

# development artifacts
venv
.venv
/.env/

# configurations
qualitycheck_config.toml
pylinkahead.ini

# build artifacts
*.egg-info
build
/src/doc/_apidoc/
