# -*- mode:conf; -*-

# auto saves, caches
*~
__pycache__
.coverage
.tox

# development artifacts
venv/
/.env/

# configurations
qualitycheck_config.toml

# build artifacts
*.egg-info
build
/src/doc/_apidoc/
